---
import HeaderIsland from '@organism/header-island';
import BodyIsland from '@organism/body-island';
import pokemonLogo from '/assets/svg/pokemon-logo.svg';


export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<HeaderIsland client:only="react"/>
		<BodyIsland>
		    <slot />
		</BodyIsland>
		<img src={pokemonLogo} alt="pokemon logo" class="logo_pokemon" />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
	}
	body {
		background-color: #D5D5D5;
	    margin: 0;
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	    padding-top: 6rem;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	.logo_pokemon {
	    height: 2.5rem;
	}
	.menu_option {
	    width: 6rem;
        text-align: center;
        padding: 0.7rem 0.5rem;
        position: relative;
        cursor: pointer;
	}
	.menu_option_background {
	    transition: clip-path 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	    position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        clip-path: inset(93% 0 0 0);
        z-index: -1;
    }
    .menu_option img {
        height: 2.2rem;
        filter: brightness(50%);
        transition: filter 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    .menu_option p {
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        font-size: 1rem;
        margin: 0;
        color: #919191;
        font-weight: bold;
        text-transform: uppercase;
    }
    .menu_option:hover p {
        color: black;
    }
    .menu_option:hover img {
        filter: brightness(20%);
    }
    .menu_option:hover .menu_option_background {
        clip-path: inset(0 0 0 0);
    }
</style>
