---
import LayoutInfo from "@layouts/layout-info.astro";
import InfoIsland from "@organism/info-island";

---

<LayoutInfo title="info">
  <img
    class="info_background"
    src="https://images3.alphacoders.com/950/thumb-1920-950656.jpg"
    alt="background-pokemon"
  />
  <main>
    <InfoIsland client:only="react" />
  </main>
</LayoutInfo>

<style>
    .info_background {
        z-index:-2;
        height: 150%;
        position: fixed;
        bottom: 0;
    }
</style>
