---
import { MENU_OPTIONS } from '@core/const/menu-options';
import PageLayoutProps from './layout.d';
import pokemonLogo from '/assets/svg/pokemon-logo.svg';


export interface Props extends PageLayoutProps {}

const { slug } = Astro.params;
const page = MENU_OPTIONS.find((page) => page.slug === slug);
if (!page) return Astro.redirect("/404");
const { title, text } = page;
const currentTitle = Astro.props.title;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
	}
	body {
		background-color: #D5D5D5;
	    margin: 0;
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	    padding-top: 6rem;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	.logo_pokemon {
	    height: 2.5rem;
	    margin: 2rem;
	}
</style>
