---
import { API_ROUTE } from "@core/const/api-route";
import Layout from "@layouts/common-layout.astro";
import DetailIsland from "@organism/detail-island";
export function getStaticPaths() {
  return Array.from(Array(1279).keys())
    .map(t => ({ params: { detail: t+1 } }));
}

const { detail } = Astro.params;
---


<Layout title="detail">
  <main>
    <DetailIsland client:only="react" id={detail} />
  </main>
</Layout>

