---
import Layout from '@layouts/Layout.astro';
import MainIsland from '@organism/main-island';



---

<Layout title="Select ">
	<main>
        <MainIsland client:only="react"  />
	</main>
</Layout>

