---
import Layout from '@layouts/Layout.astro';

---

<img src="https://images3.alphacoders.com/950/thumb-1920-950656.jpg" alt="background-pokemon" style="z-index:-2; width: 100vw"/>

<Layout title="info">
	<main>
	</main>
</Layout>
